#background {
  background: #D3D3D3;
  width: 500px;
  height: 500px;
  position: absolute;
  left: 0px;
  top: 0px;
}
#title{
  position: absolute;
    top: 1%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
#correct{
  position: absolute;
  color: green;
    top: 70%;
    width: 100%;
    text-align: center;
    font-size: 12px;
}
#wrong{
  position: absolute;
  color: red;
    top: 70%;
    width: 100%;
    text-align: center;
    font-size: 12px;
}
#pole1{
  background: #000000;
  width: 300px;
  height: 2px;
  position: absolute;

  left: 100px;
  top: 350px;
}
#pole2{
  background: #000000;
  width: 2px;
  height: 200px;
  position: absolute;

  left: 150px;
  top: 150px;
}
#pole3{
  background: #000000;
  width: 100px;
  height: 2px;
  position: absolute;

  left: 150px;
  top: 150px;
}
#pole4{
  background: #000000;
  width: 2px;
  height: 25px;
  position: absolute;

  left: 250px;
  top: 150px;
}
#let1{
  background: #000000;
  width: 50px;
  height: 2px;
  position: absolute;

  left: 50px;
  top: 450px;
}
#let2{
  background: #000000;
  width: 50px;
  height: 2px;
  position: absolute;

  left: 120px;
  top: 450px;
}
#let3{
  background: #000000;
  width: 50px;
  height: 2px;
  position: absolute;

  left: 190px;
  top: 450px;
}
#let4{
  background: #000000;
  width: 50px;
  height: 2px;
  position: absolute;

  left: 260px;
  top: 450px;
}
#let5{
  background: #000000;
  width: 50px;
  height: 2px;
  position: absolute;

  left: 330px;
  top: 450px;
}
#let6{
  background: #000000;
  width: 50px;
  height: 2px;
  position: absolute;

  left: 400px;
  top: 450px;
}
#l1{
  position: absolute;
    top: 77%;
    width: 30%;
    text-align: center;
    font-size: 18px;
}
#l2{
  position: absolute;
    top: 77%;
    width: 58%;
    text-align: center;
    font-size: 18px;
}
#l3{
  position: absolute;
    top: 77%;
    width: 86%;
    text-align: center;
    font-size: 18px;
}
#l4{
  position: absolute;
    top: 77%;
    width: 114%;
    text-align: center;
    font-size: 18px;
}
#l5{
  position: absolute;
    top: 77%;
    width: 142%;
    text-align: center;
    font-size: 18px;
}
#l6{
  position: absolute;
    top: 77%;
    width: 170%;
    text-align: center;
    font-size: 18px;
}
#b1{
  position: absolute;
	width: 30px;
	height: 30px;
	background: #000000;
  -moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
  top: 175px;
  left: 235px;
}
#b2{
  position: absolute;
  width: 2px;
  height: 70px;
  background: #000000;
  top: 205px;
  left: 250px;
}
#b3{
  position: absolute;
  width: 50px;
  height: 2px;
  background: #000000;
  top: 220px;
  left: 250px;
}
#b4{
  position: absolute;
  width: 50px;
  height: 2px;
  background: #000000;
  top: 220px;
  left: 200px;
}
#b5{
  position: absolute;
  width: 65px;
  height: 2px;
  background: #000000;
  top: 295px;
  left: 242px;
  transform: rotate(45deg);
}
#b6{
  position: absolute;
  width: 65px;
  height: 2px;
  background: #000000;
  top: 295px;
  left: 195px;
  transform: rotate(135deg);
}

.container {
    position: relative;
    width: 500px;
    height: 500px;
}
